.NavBar2 {
  border-bottom: 1px solid;
  height: 141px;
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: #150e28;
  z-index: 10;
}
.NavBar2 .contactBack {
  display: none;
}
@media (max-width: 867px) {
  .NavBar2 {
    height: 69px;
  }
  .NavBar2 .contactBack {
    display: block;
    width: 100%;
    height: 69px;
    background-color: #150e28;
  }
  .NavBar2 .contactBack > div {
    width: 100%;
    height: 40px;
  }
  .NavBar2 .contactBack > div .closeMenuP {
    position: relative;
    left: 51px;
    top: 47px;
  }
  .NavBar2 .contactBack > div .closeMenuP img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .NavBar2 .contactBack > div .closeMenuP .cross {
    height: 11px;
    width: 11px;
  }
  .NavBar2 .contactBack > div .closeMenuP .closeCircle {
    height: 23px;
    width: 23px;
  }
  .NavBar2 .contactBack > div h2 {
    color: #d434fe;
    font-family: "ClashDisplay-Bold";
    font-size: 15px;
    font-weight: 700;
    padding-top: 24px;
    padding-left: 67px;
  }
}
.NavBar2 .NavBar2Container {
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0px 128px 0px 128px;
  height: 100%;
}
.NavBar2 .NavBar2Container > li {
  flex: 1;
}
@media (max-width: 867px) {
  .NavBar2 .NavBar2Container {
    display: none;
  }
}
@media (max-width: 1163px) {
  .NavBar2 .NavBar2Container {
    margin: 0px 20px 0px 20px;
  }
}
.NavBar2 .NavBar2Container .logo {
  min-width: 80px;
}
.NavBar2 .NavBar2Container .logo .label .getlinked {
  color: transparent;
  font-family: "ClashDisplay-Bold";
  font-size: 36px;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
}
@media (max-width: 867px) {
  .NavBar2 .NavBar2Container .logo .label .getlinked {
    font-size: 15px;
    font-weight: 700;
    margin-left: 58px;
  }
}
.NavBar2 .NavBar2Container .logo .label .text-wrapper {
  color: #ffffff;
}
.NavBar2 .NavBar2Container .logo .label .span {
  color: #d434fe;
}
.NavBar2 .NavBar2Container .logo .label {
  height: 100%;
}
.NavBar2 .NavBar2Container .logo .label p {
  margin-top: 67px;
}
@media (max-width: 867px) {
  .NavBar2 .NavBar2Container .logo .label p {
    margin-top: 28px;
  }
}
.NavBar2 .NavBar2Container .menu {
  display: none;
}
@media (max-width: 867px) {
  .NavBar2 .NavBar2Container .menu {
    display: block;
    position: relative;
  }
  .NavBar2 .NavBar2Container .menu .menuIcon {
    width: -moz-fit-content;
    width: fit-content;
    height: 14px;
    width: 19px;
    position: absolute;
    margin-top: 34px;
    right: 48px;
  }
  .NavBar2 .NavBar2Container .menu .menuIcon span {
    display: inline-block;
    width: -moz-fit-content;
    width: fit-content;
  }
  .NavBar2 .NavBar2Container .menu .menuIcon span img {
    height: 14px;
    width: 19px;
  }
}
.NavBar2 .NavBar2Container .menu .removeMenu {
  display: none;
  height: 493px;
}
.NavBar2 .NavBar2Container .menu > ul {
  list-style: none;
  padding: 0;
  justify-content: space-evenly;
  -webkit-backdrop-filter: blur(60px) brightness(100%);
  backdrop-filter: blur(60px) brightness(100%);
  background-color: #150e28;
  border: 0.5px solid;
  border-color: rgba(255, 255, 255, 0.0392156863);
  border-radius: 8px;
  height: 493px;
  right: 0px;
  top: 0px;
  width: 348px;
  position: fixed;
}
.NavBar2 .NavBar2Container .menu > ul > li {
  margin-left: 47px;
}
.NavBar2 .NavBar2Container .menu > ul .linkContainer ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-top: 119px;
}
.NavBar2 .NavBar2Container .menu > ul .linkContainer ul li {
  display: block;
}
.NavBar2 .NavBar2Container .menu > ul .linkContainer ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Indium", Helvetica;
  font-size: 18px;
  font-weight: 500;
}
.NavBar2 .NavBar2Container .menu > ul .linkContainer ul li .active {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(144, 58, 255) 0%, rgb(255, 38, 185) 100%);
  background-clip: text;
  color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.NavBar2 .NavBar2Container .menu > ul .linkContainer ul :nth-child(2) {
  margin-top: 20px;
}
.NavBar2 .NavBar2Container .menu > ul .linkContainer ul :nth-child(3) {
  margin-top: 20px;
}
.NavBar2 .NavBar2Container .menu > ul .linkContainer ul :nth-child(4) {
  margin-top: 20px;
}
.NavBar2 .NavBar2Container .menu > ul .linkContainer ul :nth-child(5) {
  margin-top: 20px;
}
.NavBar2 .NavBar2Container .menu > ul .linkContainer .closeMenu {
  position: absolute;
  top: 45px;
  right: 57px;
}
.NavBar2 .NavBar2Container .menu > ul .linkContainer .closeMenu .closeMenuP {
  position: relative;
  text-align: center;
  display: block;
}
.NavBar2 .NavBar2Container .menu > ul .linkContainer .closeMenu .closeMenuP img {
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.NavBar2 .NavBar2Container .menu > ul .linkContainer .closeMenu .closeMenuP .cross {
  height: 11px;
  width: 11px;
}
.NavBar2 .NavBar2Container .menu > ul .linkContainer .closeMenu .closeMenuP .closeCircle {
  height: 23px;
  width: 23px;
}
.NavBar2 .NavBar2Container .menu > ul .buttonM {
  margin-top: 29px;
}
@media (max-width: 867px) {
  .NavBar2 .NavBar2Container .linksContainer {
    display: none;
  }
}
.NavBar2 .NavBar2Container .linksContainer > ul {
  width: 400px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 79px auto 0px auto;
}
.NavBar2 .NavBar2Container .linksContainer > ul > li a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.NavBar2 .NavBar2Container .linksContainer > ul > li .active {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(144, 58, 255) 0%, rgb(255, 38, 185) 100%);
  background-clip: text;
  color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.NavBar2 .NavBar2Container .button {
  min-width: 80px;
  text-align: right;
  position: relative;
}
.NavBar2 .NavBar2Container .button > div {
  position: absolute;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 63px;
  right: 0px;
}
@media (max-width: 867px) {
  .NavBar2 .NavBar2Container .button {
    display: none;
  }
}/*# sourceMappingURL=NavBar.css.map */