.FAQ{
    .FAQcontainer{
        display: flex;
        padding: 0;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
        list-style: none;
       // border: 3px solid rgb(2, 120, 135);
        justify-content:space-evenly;
        >li{
            width: 550px;
            height: 600px;
           // border: 3px solid rgb(22, 30, 111);
        }
        .FAQcontainerText{
            padding-top: 20px;
            .hearder{
                .label {
                    height: 86px;
                    width: 253px;
                    @media (max-width:867px) {
                        margin: 0 auto;
                    }
                }  
                .label .frequently-ask {
                    color: transparent;
                    font-family: "ClashDisplay-Bold";                    font-size: 32px;
                    font-weight: 700;
                    letter-spacing: 0;
                    line-height: 32px;
                    
                    @media (max-width:867px) {
                        text-align: center;
                        font-size: 20px;
                        font-weight: 700;
                    }
                }
                
                .label .text-wrapper {
                    color: #ffffff;
                }
                
                .label .span {
                    color: #d434fe;
                }
                
            }
            .text{

              //  border: 2px solid blue;
                .label {
                    height: 55px;
                    width: 342px;
                    @media (max-width:867px) {
                        margin: 0 auto;
                    }
                }
                
                .label .we-got-answers-to {
                    color: #ffffff;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    font-weight: 400;                    
                    font-size: 14px;
                    font-weight: 400;
                    letter-spacing: 0;

                    @media (max-width:867px) {
                        font-size: 12px;
                        text-align: center;
                    }
                }
                
                .label .text-wrapper {
                    color: #ffffff;
                    font-family: "Montserrat-Regular", Helvetica;
                    font-size: 14px;
                    font-weight: 400;
                    letter-spacing: 0;
                    line-height: 27.5px;
                }
                
                .label .span {
                    font-family: "Montserrat-Bold", Helvetica;
                    font-weight: 700;
                }
                
            }
        }
        .FAQcontainerImg{
            background-image:   url('../../assets/images/cwok_casual_21 1.png');
            background-size:490px 477px; 
            background-position: center center;
            background-repeat: no-repeat;
            @media (max-width:1239px) {
                background-size:327px 327px; 
            }
        }

    }
}